.pokemon-card {
  width: 100px;
  height: 150px;
  cursor: pointer;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.pokemon-card.show {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  position: absolute;
  inset: 0;
  place-content: center;
  backface-visibility: hidden;
  border-radius: 10px;
}

.card-front {
  background-color: white;
  opacity: 0.8;
}

.card-front:hover {
  opacity: 1;
  border: 3px solid rgb(53, 53, 165);
}

.card-back {
  transform: rotateY(180deg);
}

.card-back img {
  width: 100px;
  height: 150px;
}
